.header 
{
    color: rgb(4, 0, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: "Dancing Script", cursive;
    margin-top: 0px;
    margin-bottom: 10px;

}

.headline
{
    margin-bottom: 1px;
}